.item__post{
  width:100%;
  height:100%;
  background-color: whitesmoke;
  &__header {
    width:100%;
    height:128px;
    padding:30px 0;
    background-color:whitesmoke;
    align-items: center;
    margin:0 auto;
    &__logo{
      margin:0 auto;
      display:block;
    }
  }
  &__container {
    padding:0 380px;
    &__first{
      padding:40px;
      background-color:white;
      border-bottom: 1px solid rgb(245, 245, 245) ;   
      &__h{
        font-weight:bold;
        font-size:14px;
        margin-bottom:10px;
      
        span{
          color:white;
          background-color: red;
          padding:1px;
          margin-left:7px;
          font-size: 13px;
        }
      }
      &__p{
        font-size:14px;
      }
      &__image{
        width:100%;
        height:150px;
        margin-top:10px;
        border-width:1px;
        border-style:dashed;
        background-color: rgb(245, 245, 245) ;
        text-align: center;
        align-items: center;
        position:relative;
        ul#preview {
          li.input {
            label.upload-label {
              &__text{
                font-size: 12px;  
                text-align: center;  
                .input-area {
                  .hidden-field {
                    display:none;
                  }
                }
              }
            }
          }
        }      
      }
    }
  }
}
