
* {
  box-sizing: border-box;
}





  .winding{
    width: 100%;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    position: relative;
    padding: 0 60px;
      .road{
        padding: 3px 0 40px;
        width: 100%;
        max-width: 1040px;
        font-size: 14px;
        margin: 0 auto;
        .listone{
          padding:10px 10px 0;;
          float: left;
          .branch{
            text-decoration: none;
            color: #333;
          }
        }
    }
  }


  .main{
    background: #f8f8f8;
    .showmain{
    padding: 40px;
    margin: 0 auto;
      .contentright{
        width: 700px;
        margin: 0 auto;
          .topcontent{
            margin: 0;
            padding: 0;
            .itembox{
              background-color: #fff;
              padding: 24px 40px 40px;
                &__name{
                  text-align: center;
                  font-weight: bold;
                  font-size: 24px;
                }
                &__body{
                  text-align: center;
                  display: flex;
                  max-width: 80%;
                  margin: 0 auto;
                }
                &__price{
                  margin: 24px 0 24px;
                  text-align: center;
                  font-weight: bold;
                  margin: 0 10px 0 0;
                  font-size: 25px;
                }
                &__detail{
                  font-size: 18px;
                  text-align: center;
                  margin-bottom: 30px;
                }
                  .table{
                    margin-bottom: 20px;
                      .text{
                        font-size: 14px;
                      }
                      .right-text{
                        padding-left: 10px;
                        font-size: 14px;
                      }
                      .text-link{
                        padding-left: 10px;
                          .prefecture{
                            text-decoration: none;
                            color: #3CCACE;
                            font-size: 14px;
                          }
                      }
                  }
                  .optionalarea{
                    display: flex;
                    justify-content: space-between;
                    .likeBtn{
                      margin-right: auto;
                      padding: 6px 10px;
                      border-radius: 40px;
                      color: #3CCACE;
                      border: 1px solid #ffb340;
                    }
                    .optionalBtn{
                      .fa-flag{
                        border: 1px solid #333;
                        text-decoration: none;
                        display: flex;
                        padding: 6px 10px;
                        .alert{
                          color: black;
                          text-decoration: none;
                        }
                      }
                  }
                }
            
          }
              .commentbox{
                padding: 24px;
                background-color: #fff;
                margin: 10px 0;
                text-align: center;
                  .infomation{
                    width: 100%;
                    min-height: 104px;
                    padding: 10px;
                  }
                  .notice{
                    padding: 8px;
                    font-size: 14px;
                    background-color: #f8f8f8;
                    margin: 10px 0;
                    text-align: left;
                  }
                  
                .writeBtn{
                  line-height: 48px;
                  background: #3CCACE;
                  border: 1px solid #3CCACE;
                  color: #fff;
                  width: 60%;
                  font-size: 18px;
                  border-radius: 100px;
                }
                .buy-btn{
                  display: block;
                  background-color: #00ff7f;
                  text-decoration: none;
                  color: #fff;
                  border-radius: 100px;
                  padding: 0.5em 1em;
                  width: 400px;
                  height: 50px;
                  text-align: center;
                  margin-left: 125px;
                  margin-top: 70px;
                  font-size: 18px;
                }

                .edit-btn{
                  display: block;
                  background-color: #228b22;                  ;
                  text-decoration: none;
                  color: #fff;
                  border-radius: 100px;
                  padding: 0.5em 1em;
                  width: 400px;
                  height: 50px;
                  text-align: center;
                  margin-left: 125px;
                  margin-top: 70px;
                  font-size: 18px;
                }

                .destroy-btn{
                  display: block;
                  background-color: #00533f;                  ;                  ;
                  text-decoration: none;
                  color: #fff;
                  border-radius: 100px;
                  padding: 0.5em 1em;
                  width: 400px;
                  height: 50px;
                  text-align: center;
                  margin-left: 125px;
                  margin-top: 70px;
                  font-size: 18px;
                }
              }
          }
      }
    }
  }


  .links{
    display: flex;
    justify-content: space-between;
    .gain{
      float: left;
      text-decoration: none;
      color: #3CCACE;
    }
    .back{
      float: right;
      text-decoration: none;
      color: #3CCACE;
    }
  }

  .relateditems{
    .mens-more{
      padding-top: 40px;
      color: #3CCACE;
      text-decoration: none;
      font-weight: bold;
      font-size: 22px;
    }
  }


  .app-google{
    background-image: url("/images/bg-appBanner-pict.jpg");
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    .inner{
    margin: 0;
    padding: 0;
      &__title{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        color: white;
     }
      &__text {
        font-size: 35px;
        color: white;
        text-align: center;
      }
      &__icon{
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
          .minayoshi{
            margin-top: 14px;
          }
      }
    }
  }

  

  


