  .login-container {
    display: block;
    
    .login-area {
      max-width: 500px;
      margin: 0 auto;
      background: #fff;
      
      &__head {
        padding: 24px 32px;
        text-align: center;
        p.text{
          font-size: 14px;
        }
        .registrations__btn {
          text-decoration: none;
          cursor: pointer;
          display: block;
          margin: 8px 0 0;
          border: 1px solid #0099e8;
          background: #0099e8;
          color: #fff;
          width: 400px;
          line-height: 40px;
        }
      }
      .login-box {
        border-top: 1px solid #eee;
        .new_user {
          padding: 24px 32px;
          border: 0;
          .login-box__content {
            input[type="email"] {
              width: 400px;
              height: 50px;
              margin: 10px 0
            }
            input[type="password"] {
              width: 400px;
              height: 50px;
              margin: 10px 0;
            }
            &__email {
              margin: 0;
              margin-bottom: 30px;
            }
            &__password {
              margin: 24px 0 0;
              margin-bottom: 30px;
            }
            &__btn {
              margin: 24px 0 0;
              .login__btn {
                width: 400px;
                height: 50px;
                margin: 10px 0;
                background: #EA352D;
                border: 1px solid #EA352D;
                color: #fff;
                cursor: pointer;
              }
            }
          }
          .forgetpassword-user {
            display: block;
            margin: 40px 0 0;
            a {
              color: #0099e8;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  